footer
  .container.text-center
    a.pull-left(href="http://twitter.com/@mattmcfad")© 2015 @mattcfad
    ul.pull-right.list-inline
      li
        a(href='https://github.com/mattmcfad/VISA-Reader') GitHub Project
      li
        a(href='https://github.com/mattmcfad/VISA-Reader/issues') Issues
